*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

:root{
    --color-1: #fff;
    --color-2: #ff5945;
    --color-3: #002765;
}

.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    /* background: linear-gradient(135deg, #000, var(--color-1)); */
    padding: 10px;
}

.div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-container{    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    margin-right:20px;
    
}
.filter-container svg{
    position: absolute;
    width:30px;
    height: 30px;
    fill:var(--color-2);
    color: var(--color-3);
}

select{    
    color: var(--color-3);
    position: relative;
    outline: none;    
    border: none;
    font-weight: 700;
    height: fit-content;
    background: transparent;
    width: 18px;
    padding-left: 45px;
    /* appearance: none; */
}
select:hover, select:active{
    color:var(--color-2);
}



.todo-app{
    width: 100%;
    max-width: 540px;
    background: var(--color-1);
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color:var(--color-3);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img{
    width:30px;
    margin-left: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    border: 2px solid var(--color-2);
}

.row:active, .row:hover{
    border: 2px solid var(--color-3);
    
}

.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    

}

.row button{
    border: none;
    outline: none;
    padding: 16px 40px;
    background: var(--color-2);
    /* background: #0e0255; */
    color:var(--color-1);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.row button:hover{
    background: var(--color-3);
}

ul li{
    
    position: relative;
    list-style: none;
    font-size: 17px;
    padding: 12px 80px 12px 50px;

    word-wrap: break-word;
    user-select: none;
    cursor: pointer;
    transition: all .6s;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
    opacity: 0.5;
}

ul li.checked::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url(images/checked.png);    
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px; 
}

ul li .delete{
    position: absolute;
    right:0;
    margin-right: 40px;
    color: var(--color-3);
}
ul li .delete:hover{
    color: var(--color-2);
}

.slide{
    transform: translateX(+120px); 
    opacity: 0 !important;

}

.display{
    display:none;
}

@media screen and (max-width:330px) {
    .row button{
        padding: 16px 20px;
    }

    .div h2 img{
        display: none;
    }

    .filter-container{
        margin-right: 0px;
    }
}

@media screen and (max-width:330px) {
    .container{
        overflow: scroll;
    }
    .todo-app{
        width:fit-content;
    }
}
